{% load static %}
<!doctype html>
<html lang='en'>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'css/btn_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">  
    <head>
        <title>Urmart</title>
    </head>
    <body>
        {% csrf_token %} 
        <select id='product_select'> 
          <option selected disabled hidden>Select Product</option>
          {% for p in allCategory %}
          <option>{{p.p_id}}</option>
          {% endfor %}
        </select>
        <input id='number' onkeypress="return isNumberKey(event)" type='text' Placeholder="Number"></input>
        <button type="button" id="add_order">
          <svg class="svg-icon" viewBox="0 0 20 20">
            <path d="M14.613,10c0,0.23-0.188,0.419-0.419,0.419H10.42v3.774c0,0.23-0.189,0.42-0.42,0.42s-0.419-0.189-0.419-0.42v-3.774H5.806c-0.23,0-0.419-0.189-0.419-0.419s0.189-0.419,0.419-0.419h3.775V5.806c0-0.23,0.189-0.419,0.419-0.419s0.42,0.189,0.42,0.419v3.775h3.774C14.425,9.581,14.613,9.77,14.613,10 M17.969,10c0,4.401-3.567,7.969-7.969,7.969c-4.402,0-7.969-3.567-7.969-7.969c0-4.402,3.567-7.969,7.969-7.969C14.401,2.031,17.969,5.598,17.969,10 M17.13,10c0-3.932-3.198-7.13-7.13-7.13S2.87,6.068,2.87,10c0,3.933,3.198,7.13,7.13,7.13S17.13,13.933,17.13,10"></path>   
          </svg>
        </button>
        <input id='customer_id' onkeypress="return isNumberKey(event)" type='text' Placeholder="Customer ID"></input>
        <input id='vip_or_not' type='checkbox' checked>whether vip or not</input>

    {% block Table %}
    <div class="container">
    <h4 class="mt-4 border-bottom">Product List</h4>
    <table id='prod_tab' class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ProductID</th>
                <th scope="col">stock_pcs</th>
                <th scope="col">price</th>
                <th scope="col">shop_id</th>
                <th scope="col">vip</th>
              </tr>
            </thead>
      <tbody>
        {% csrf_token %}
        {% for p in allCategory %}
        <tr>
          <th scope="row">{{ p.p_id }}</th>
          <td>{{ p.s_pcs }}</td>
          <td>{{ p.price }}</td>
          <td>{{ p.s_id }}</td>
          <td>
            <input class='product-vip' type='checkbox' onclick="selectOnlyThis(this)" {% if p.vip %} checked {% endif %}></input>
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

    <div class="container">
    <h4 class="mt-4 border-bottom">Order Record</h4>
    <table id='ord_tab' class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">OrderID</th>
          <th scope="col">product_id</th>
          <th scope="col">qty</th>
          <th scope="col">price</th>
          <th scope="col">shop_id</th>
          <th scope="col">CustomerID</th>
        </tr>
      </thead>

      <tbody>
      {% csrf_token %}
      {% if allOrder %}
      {% for o in allOrder %}
      <tr>
          <td>{{ o.o_id }}</td>
          <td>{{ o.p_id }}</td>
          <td>{{ o.qty }}</td>
          <td>{{ o.price }}</td>
          <td>{{ o.s_id }}</td>
          <td>{{ o.c_id }}</td>
          <td>
              <button type="button" class="del-ord">
                <svg class="svg-icon" viewBox="0 0 20 20">
                  <path d="M14.776,10c0,0.239-0.195,0.434-0.435,0.434H5.658c-0.239,0-0.434-0.195-0.434-0.434s0.195-0.434,0.434-0.434h8.684C14.581,9.566,14.776,9.762,14.776,10 M18.25,10c0,4.558-3.693,8.25-8.25,8.25c-4.557,0-8.25-3.691-8.25-8.25c0-4.557,3.693-8.25,8.25-8.25C14.557,1.75,18.25,5.443,18.25,10 M17.382,10c0-4.071-3.312-7.381-7.382-7.381C5.929,2.619,2.619,5.93,2.619,10c0,4.07,3.311,7.382,7.381,7.382C14.07,17.383,17.382,14.07,17.382,10"></path>
                </svg>
              </button>
          </td>
      </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
    <div class="row">
    <button id="find_top3" class="btn btn-outline-dark">Top3</button>
    <div id="top3_res"></div>
    </div>

  </div>
  {% endblock Table %}
  {% block javasript %}
  <script src="{% static 'js/main.js'  %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js'  %}"></script>
  {% endblock %}  
</body>
</html>
